<img style="float: right;" src="http://www.zuehlke.com/fileadmin/template_new/images/logo.gif" alt="Zühlke - empowering ideas" title="Zühlke - empowering ideas">
<p>This is the Sunny Dishwasher monitor.</p>
<p>
    It was conceived at the HackTheHouse hackathon on 29.02.2015 by the Team of <a target="_blank" href="http://www.zuehlke.com">Zühlke Engineering GmbH</a>.
    </p>
<p>To find out more check out <a target="_blank" href="http://hackthehouse.io">HackTheHouse</a></p>
<p>This project is documented at <a target="_blank" href="http://www.hackster.io/team-zuehlke/the-sunny-dishwasher">hackster.io</a></p>


