<!--
<div style="float:right;"><button ng-click="refresh();">Refresh</button></div>
    -->
<alert type="danger" ng-show="errorMsg">{{errorMsg}}</alert>
<alert type="info" ng-show="infoMsg">{{infoMsg}}</alert>

<div class="jumbotron" >
    <div class="dg">

        <div class="imageContainer" >
            <img class="statusImage statusImagePowerActive" ng-hide="!powerState.isActive" src="images/power_state_active.png">
            <img class="statusImage statusImagePowerInActive" ng-hide="powerState.isActive" src="images/power_state_inactive.png">

            <img class="statusImage statusIsPresentActive" ng-hide="!isPresent.isActive" src="images/is_present_active.png">
            <img class="statusImage statusIsPresentInActive" ng-hide="isPresent.isActive" src="images/is_present_inactive.png">

            <img class="statusImage statusDishwasherIsRunning" ng-hide="!dishwasherState.running" src="images/dishwasher_state_running.png">
            <img class="statusImage statusDishwasherIsReady" ng-hide="!dishwasherState.ready" src="images/dishwasher_state_ready.png">
            <img class="statusImage statusDishwasherIsOff" ng-hide="!dishwasherState.off" src="images/dishwasher_state_off.png">
        </div>

    </div>
</div>

<!--
PowerState: <input ng-model="powerState.isActive"/><br/>
IsPresent:  <input ng-model="isPresent.isActive"/><br/>

running:  <input ng-model="dishwasherState.running"/><br/>
ready:  <input ng-model="dishwasherState.ready"/><br/>
off:  <input ng-model="dishwasherState.off"/><br/>
-->

